.carousel-background-image {
  height: 80vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.set-main-carousel-height {
  height: 80vh;
}

.carousel-align-center {
  text-align: center;
}

.carousel-text-to-left {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}
